<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title></title>
</head>
<script type="text/javascript">
    function getApprovalDetail(appSeq, appType){
        let f = document.createElement('form');

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'appSeq');
        obj.setAttribute('value', appSeq);

        let obj2
        obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'appType');
        obj2.setAttribute('value', appType);

        f.appendChild(obj);
        f.appendChild(obj2);
        f.setAttribute('method', 'post');
        f.setAttribute('action', '/approval/detail');
        document.body.appendChild(f);
        f.submit();
    }


    function selectApproval(type, appSeq){

        let f = document.createElement('form');

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'appSeq');
        obj.setAttribute('value', appSeq);

        f.appendChild(obj);
        f.setAttribute('method', 'post');
        f.setAttribute('action', '/approval/'+type);
        document.body.appendChild(f);
        f.submit();
    }
</script>
<body>
<div class="container" style="max-width: 800px">
    <div class="py-5 text-center">
        <h2 th:text="${type}"></h2>
    </div>

    <hr class="my-4">
    <div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>결재번호</th>
                    <th>작성날짜</th>
                    <th>결재타입</th>
                    <th>작성자</th>
                    <th th:if="${type != '승인요청'}">상태</th>
                    <th th:if="${type == '승인요청'}">승인/반려</th> <!-- 추가: 액션 열 -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="app : ${approvals}">
                    <td>
                    <a href="javascript:void(0);"
                       th:attr="onclick='getApprovalDetail(\'' + ${app.appSeq} + '\', \'' + ${app.appType} + '\');'"
                       th:text="${app.appSeq}">결재번호</a>
                    </td>
                        <td th:text="${app.createDate}"></td>
                        <td th:if="${app.appType == 'APP_ER'}" th:text="지출결의서"></td>
                        <td th:if="${app.appType == 'APP_LEAVE'}" th:text="휴가계획서"></td>
                        <td th:if="${app.appType == 'APP_LOA'}" th:text="품의서"></td>
                        <td th:text="${app.empName}"></td>
                        <td th:if="${type != '승인요청'}" th:text="${app.appStatus}"></td>
                        <td th:if="${type == '승인요청'}">
                            <button type="button" class="btn btn-success"
                                    href="javascript:void(0);"
                                    th:attr="onclick='selectApproval(\'승인\', \'' + ${app.appSeq} + '\');'">승인</button>
                            <button type="button" class="btn btn-danger"
                                    href="javascript:void(0);"
                                    th:attr="onclick='selectApproval(\'반려\', \'' + ${app.appSeq} + '\');'">반려</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>

</div> <!-- /container -->
</body>
</html>