<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>품의서 작성</title>
    <meta charset="utf-8">
    <link href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
          max-width: 800px;
          height : 800px;
        }
        span{
          color: red;
        }
        div {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">

    <h4 class="mb-3">품의서 상세</h4>

    <div>
        <label for="empName">작성자</label>
        <input type="text" id="empName" name="empName" class="form-control"
               th:value="${loaRes.empName}" readonly>
    </div>


    <div>
        <label for="loaTitle">제목</label>
        <input type="text" id="loaTitle" name="loaTitle" class="form-control"
               th:value="${loaRes.loaTitle}" readonly>
    </div>

    <div>
        <label for="loaText">내용</label>
        <textarea id="loaText" name="loaText" class="form-control"
                  th:text="${loaRes.loaText}" readonly></textarea>
    </div>

    <div>
        <label for="approver">결재자</label>
        <input type="text" id="approver" name="approver" class="form-control"
               th:value="${loaRes.approver}" readonly>
    </div>

    <div>
        <label for="appStatus">상태</label>
        <input type="text" id="appStatus" name="appStatus" class="form-control"
               th:value="${loaRes.appStatus}" readonly>
    </div>

    <div>
        <label for="rejectReason">사유</label>
        <textarea type="text" id="rejectReason" name="rejectReason" class="form-control"
                  th:text="${loaRes.rejectReason}" readonly></textarea>
    </div>


    <hr class="my-4">

    <div class="row">

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='/approval/dashboard'"
                    th:onclick="|location.href='@{/approval/dashboard}'|"
                    type="button">뒤로가기</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>