<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.onepoint.erp.approval.mapper.ApprovalMapper">
    <select id="getDashBoard" parameterType="int" resultType="DashBoardRes">
        SELECT
            SUM(CASE WHEN APP_STATUS='미승인' THEN 1 ELSE 0 END) AS "waitingApprovalCount",
            SUM(CASE WHEN APP_STATUS='반려' THEN 1 ELSE 0 END) AS "rejectedApprovalCount",
            (SELECT COUNT(*) FROM APPROVAL WHERE APPROVER  = #{id}AND APP_STATUS = '미승인') AS "pendingApprovalCount"
            from APPROVAL
            WHERE EMP_ID = #{id}
        GROUP BY EMP_ID, APPROVER
    </select>

    <insert id="insertApproval" parameterType="ApprovalReq">
        <selectKey keyProperty="appSeq" resultType="int" order="BEFORE">
            select app_seq.nextVAL from dual
        </selectKey>
        INSERT INTO APPROVAL
        (
        APP_SEQ,
        EMP_SEQ,
        APPROVER,
        APP_STATUS,
        APP_TYPE
        )
        VALUES
        (
        #{appSeq},
        #{empSeq},
        #{approver},
        #{appStatus},
        #{appType}
        )
    </insert>
</mapper>
