<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.onepoint.erp.approval.mapper.ExpenditureMapper">
    <insert id="insertExpenditure" parameterType="ExpenditureReq">
        <selectKey keyProperty="erSeq" resultType="int" order="BEFORE">
            select er_seq.nextVAL from dual
        </selectKey>
        INSERT INTO APP_ER
        (
        ER_SEQ,
        APP_SEQ,
        ER_TITLE,
        ER_TEXT,
        ER_AMOUNT,
        ER_DT
        )
        VALUES
        (
        #{erSeq},
        #{appSeq},
        #{erTitle},
        #{erText},
        #{erAmount},
        #{erDt}
        )
    </insert>
    <select id="selectExpenditureByAppSeq" parameterType="int" resultType="ExpenditureRes">
        SELECT
        A.EMP_SEQ AS empSeq,
        A.CREATED_DT AS createdDt,
        E.ER_TITLE AS erTitle,
        A.APPROVER AS approver,
        E.ER_DT AS erDt,
        E.ER_TEXT AS erText,
        E.ER_AMOUNT AS erAmount,
        A.APP_STATUS AS appStatus,
        A.REJECT_REASON AS rejectReason,
        A.APP_TYPE AS appType
        FROM
        APP_ER E
        INNER JOIN
        APPROVAL A ON E.APP_SEQ = A.APP_SEQ
        WHERE A.APP_SEQ = #{appSeq}

    </select>

</mapper>
