<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.onepoint.erp.approval.mapper.LeaveMapper">


    <insert id="insertLeave" parameterType="LeaveReq">
        <selectKey keyProperty="leaveSeq" resultType="int" order="BEFORE">
            select leave_seq.nextVAL from dual
        </selectKey>
        INSERT INTO APP_LEAVE
            (
            leave_seq,
            app_seq,
            leave_type,
            leave_text,
            leave_st_dt,
            leave_end_dt
            )
        VALUES
            (
            #{leaveSeq},
            #{appSeq},
            #{leaveType},
            #{leaveText},
            #{leaveStDt},
            #{leaveEndDt}
            )
    </insert>
    <select id="selectLeaveByAppSeq" parameterType="int" resultType="LeaveRes">
        select
        A.app_seq AS appSeq,
        A.approver AS approver,
        A.app_status AS appStatus,
        A.reject_reason AS rejectReason,
        L.app_seq AS appSeq,
        L.leave_type AS leaveType,
        L.leave_text AS leaveText,
        L.leave_st_dt AS leaveStDt,
        L.leave_end_dt AS leaveEndDt
        from APP_LEAVE L
        inner join APPROVAL A
        on L.app_seq = A.app_seq
        WHERE A.APP_SEQ = #{appSeq}

    </select>

</mapper>