<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.onepoint.erp.mapper.LoaMapper">

    <insert id="insertLoa" parameterType="LoaReq">
        INSERT INTO APP_LEAVE
        (loa_seq, app_seq, loa_title, loa_text)
        VALUES
        (
        loa_seq.NEXTVAL,
        ${app_seq},
        ${loa_title},
        ${loa_text}
        )
    </insert>
    <select id="selectLoaByAppSeq" parameterType="int" resultType="LoaRes">
        select
        (
        A.app_seq,
        A.approver,
        A.app_status,
        A.reject_reason,
        L.app_seq,
        L.loa_title,
        L.loa_text
        )
        from APP_LOA L
        inner join APPROVAL A
        on L.app_seq = A.app_seq

    </select>
</mapper>