<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../static/css/bootstrap.min.css"
        th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<!--  <style>-->
<!--    table {-->
<!--      width: 100%;-->
<!--      border: 1px solid #444444;-->
<!--      border-collapse: collapse;-->
<!--    }-->
<!--    th, td {-->
<!--      border: 1px solid #444444;-->
<!--    }-->
<!--  </style>-->
<body>
<div class="container" style="max-width: 800px">
  <div class="py-5 text-center">
    <h2>결재 목록</h2>
  </div>


  <hr class="my-4">
  <div>
    <table class="table" >
      <thead>
      <tr>
        <th>결재번호</th>
        <th>작성날짜</th>
        <th>결재타입</th>
        <th>작성자</th>
        <th>상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="app : ${approvals}">
        <td><a href="approval.html" th:href="@{|/approval/detail|}"
               th:text="${app.appSeq}">결재번호</a></td>
        <td th:text="${app.createdDate}">작성날짜</td>
        <td th:text="${app.appType}">결재타입</td>
        <td th:text="${app.empName}">작성자</td>
        <td th:text="${app.appType}">상태</td>
        <input type="hidden" th:value="${app.appSeq}"/>
        <input type="hidden" th:value="${app.appType}"/>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>