<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../static/css/bootstrap.min.css"
        th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>
  <style>
    td {
      vertical-align: middle;
    }
  </style>
<body>
<div class="container" style="max-width: 800px">
  <div class="py-5 text-center">
    <h2>결재 목록</h2>
  </div>
  <hr class="my-4">
  <div>
    <table class="table" >
      <thead>
      <tr>
        <th>결재번호</th>
        <th>작성날짜</th>
        <th>결재타입</th>
        <th>작성자</th>
        <th>승인/반려</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="app : ${approvals}">
        <td><a href="approval.html" th:href="@{|/approval/detail|}"
               th:text="${app.appSeq}" >결재번호</a></td>
        <td th:text="${app.createdDate}">작성날짜</td>
        <td th:text="${app.appType}" >결재타입</td>
        <td th:text="${app.empName}">작성자</td>
        <td>
        <button type="button" class="btn btn-success">승인</button>
        <button type="button" class="btn btn-danger">반려</button>
        </td>
        <input type="hidden" th:value="${app.appSeq}"/>
        <input type="hidden" th:value="${app.appType}"/>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>